In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
#import kagglehub

# Download latest version
#path = kagglehub.dataset_download("avikasliwal/used-cars-price-prediction")

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Downloading from https://www.kaggle.com/api/v1/datasets/download/avikasliwal/used-cars-price-prediction?dataset_version_number=2...

100%|████████████████████████████████████████████████████████████████████████████████| 172k/172k [00:00<00:00, 817kB/s]

Extracting model files...

In [11]:

#step 2: Create the path and then read the csv used_cars
used_cars_train_file_path = r"C:/Users/ukleftis/Documents/BBD_data_engineering_bootcamp/git_repos/1st-BBDA-project/Extract/used_cars_train.csv"
used_cars_df = pd.read_csv(path)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\ukleftis\\.cache\\kagglehub\\datasets\\avikasliwal\\used-cars-price-prediction\\versions\\2'

In [13]:
#step 3: Check the first five rows
print("First five rows of the dataset:")
used_cars_df.head()

First five rows of the dataset:

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [14]:
#step 4:
print("\nDataset info:")
used_cars_df.info()

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [15]:
#step 5: Check for Null Values
print("\nMissing values per column:")
print(used_cars_df.isnull().sum())

Missing values per column:
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64